<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/librerias/fontawesome/css/all.css">
    </head>
    <body>
        <header>
            <section class="main-header">
                <img class="logo" width= "140px"src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <div class="search-bar">
                    <form>
                        <input type="text" placeholder="Buscar productos, marcas" class="control-search"><i class="fas fa-search"></i>
    
                        <label for="search"></label>
                    </form>
                </div>
    
                <div class="top-bar">
                    <h3>
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h3>
                </div>
            </section>   
     
        <section class="main-navbar">
            <ul class="site">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    
            <ul class="login">    
                <li><a href="/register">Creá cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </section>
    
        <a href="#" class="hamburguer-button">
            <i class="fa fa-bars"></i>
        </a>
        </header>





        <form action="/" method="post" class="form-register"></form>
            <div class="form-control">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre y apellido" class="control">
            </div>
            <div class="form-control">
                <label for="user"></label>
                <input type="text" name="user" placeholder="Nombre de usuario" class="control">
            </div>
            <div class="form-control">
                <h3 class="title-form">Fecha de nacimiento</h3>
                <label for="born"></label>
                <input type="date" name="born" value="AAAA-MM-DD" class="control">
            </div>
            <div class="form-control">
                <label for="adress"></label>
                <input type="text" name="adress" placeholder="Domicilio" class="control">
            </div>
            <div class="form-control">
                <h3 class="title-form">Perfil de usuario</h3>
                <div class="perfil">
                    <input type="radio"><label >Comprador</label>
                    <input type="radio"><label >Vendedor</label>
                </div>
            </div>
            <div class="form-control">
                <h3 class="title-form">Seleccionar una imagen de perfil</h3>
                <div>
                    <label for="avatar"></label>
                    <input type="file" name="avatar" placeholder="Avatar" class="control">
                </div>
            </div>
            
            <div class="checklist">
                <h3 class="title-form">Intereses</h3>
            <!-- Default checkbox -->
                <div class=".checkbox-list">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Electro</label>
                </div>
        
                <!-- Checked checkbox -->
                <div class=".checkbox-list">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">Moda</label>
                </div>

                <div class=".checkbox-list">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">Hogar</label>
                </div>

                <div class=".checkbox-list">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">Juguetería</label>
                </div>

                <div class=".checkbox-list">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">Vida sana</label>
                </div>

            </div>
            <div class="form-control">
                <label for="pass"></label>
                <input type="password" name="pass" placeholder="Contraseña" class="control">
            </div>
            <div class="form-control">
                <label for="re-pass"></label>
                <input type="password" name="re-pass" placeholder="Confirmar contraseña" class="control">
            </div>
            <div class="form-button">
                <button type="" class="boton-formulario"><a href="/">Enviar</a></button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>
        </form>
    </body>
    <footer>
        <div class="footer">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>


            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>


            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>
